<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{addPassword.title})}"></th:block>

<body>	<div id="page-container">
		<div id="content-wrap">
	<div th:insert="~{fragments/navbar.html :: navbar}"></div>
	<br>
	<br>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2 th:text="#{addPassword.header}"></h2>

				<form action="add-password" method="post"
					enctype="multipart/form-data">
					<div class="form-group">
						<label th:text="#{addPassword.selectText.1}"></label>
						<div th:replace="fragments/common :: fileSelector(name='fileInput', multiple=false)"></div>
					</div>
					<div class="form-group">
						<label th:text="#{addPassword.selectText.2}"></label> <input type="password"
							class="form-control" id="password" name="password" required>
					</div>
					<div class="form-group">
						<label th:text="#{addPassword.selectText.3}"></label> <select class="form-control"
							id="keyLength" name="keyLength">
							<option value="40">40</option>
							<option value="128">128</option>
							<option value="256">256</option>
						</select> <small class="form-text text-muted" th:text="#{addPassword.selectText.4}"></small>
					</div>
					<div class="form-group">
						<label th:text="#{addPassword.selectText.5}"></label>
						<div class="form-check">
							<input class="form-check-input" type="checkbox"
								id="canAssembleDocument" name="canAssembleDocument"> <label
								class="form-check-label" for="canAssembleDocument" th:text="#{addPassword.selectText.6}"></label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox"
								id="canExtractContent" name="canExtractContent"> <label
								class="form-check-label" for="canExtractContent" th:text="#{addPassword.selectText.7}"></label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox"
								id="canExtractForAccessibility"
								name="canExtractForAccessibility"> <label
								class="form-check-label" for="canExtractForAccessibility" th:text="#{addPassword.selectText.8}"></label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox"
								id="canFillInForm" name="canFillInForm"> <label
								class="form-check-label" for="canFillInForm" th:text="#{addPassword.selectText.9}"></label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="canModify"
								name="canModify"> <label class="form-check-label"
								for="canModify" th:text="#{addPassword.selectText.10}"></label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox"
								id="canModifyAnnotations" name="canModifyAnnotations"> <label
								class="form-check-label" for="canModifyAnnotations" th:text="#{addPassword.selectText.11}"></label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="canPrint"
								name="canPrint"> <label class="form-check-label"
								for="canPrint" th:text="#{addPassword.selectText.12}"></label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox"
								id="canPrintFaithful" name="canPrintFaithful"> <label
								class="form-check-label" for="canPrintFaithful" th:text="#{addPassword.selectText.13}"></label>
						</div>

					</div>
					<br />
					<div class="form-group text-center">
						<button type="submit" class="btn btn-primary" th:text="#{addPassword.submit}"></button>
					</div>

				</form>
			</div>
		</div>
	</div>
	</div>
		<div th:insert="~{fragments/footer.html :: footer}"></div>
	</div>
</body>
</html>
