<!DOCTYPE html>
<html th:lang="${#locale.language}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{changeMetadata.title})}"></th:block>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 th:text="#{changeMetadata.header}"></h2>

                        <form method="post" id="form1" enctype="multipart/form-data" th:action="@{/update-metadata}">
                            <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false)}"></div>
                            <p class="text-muted">Please select the variables you wish to change</p>

                            <div class="form-group-inline form-check">
                                <input type="checkbox" class="form-check-input" id="deleteAll" name="deleteAll"> 
                                <label class="ml-3" for="deleteAll">Delete all metadata</label>
                            </div>

                            <div class="form-group-inline form-check">
                                <input type="checkbox" class="form-check-input" id="advancedModeCheckbox"> 
                                <label class="ml-3" for="advancedModeCheckbox">Show Advanced Metadata:</label>
                            </div>

                            <div class="form-group">
                                <label class="form-check-label" for="author">Author:</label> 
                                <input type="text" class="form-control" id="author" name="author">
                            </div>

                            <div class="form-group">
                                <label class="form-check-label" for="creationDate">Creation Date:</label> 
                                <input type="text" class="form-control" id="creationDate" name="creationDate" placeholder="2020/12/25 18:30:59">
                            </div>

                            <div class="form-group">
                                <label class="form-check-label" for="creator">Creator:</label> 
                                <input type="text" class="form-control" id="creator" name="creator">
                            </div>

                            <div class="form-group">
                                <label class="form-check-label" for="keywords">Keywords:</label> 
                                <input type="text" class="form-control" id="keywords" name="keywords">
                            </div>

                            <div class="form-group">
                                <label class="form-check-label" for="modificationDate">Modification Date:</label> 
                                <input type="text" class="form-control" id="modificationDate" name="modificationDate" placeholder="2020/12/25 18:30:59">
                            </div>

                            <div class="form-group">
                                <label class="form-check-label" for="producer">Producer:</label> 
                                <input type="text" class="form-control" id="producer" name="producer">
                            </div>

                            <div class="form-group">
                                <label class="form-check-label" for="subject">Subject:</label> 
                                <input type="text" class="form-control" id="subject" name="subject">
                            </div>

                            <div class="form-group">
                                <label class="form-check-label" for="title">Title:</label> 
                                <input type="text" class="form-control" id="title" name="title">
                            </div>

                            <div class="form-group">
                                <label class="form-check-label" for="trapped">Trapped:</label> 
                                <select class="form-control" id="trapped" name="trapped">
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                    <option value="Unknown">Unknown</option>
                                  </select>
                            </div>
                            <div id="advancedMetadata" style="display: none;">
                                <h3>Other Metadata:</h3>
                                <div class="form-group" id="otherMetadataEntries"></div>
                            </div>
                            <div id="customMetadataEntries"></div>
                            <button type="button" class="btn btn-secondary" id="addMetadataBtn">Add Custom Metadata Entry</button>
                            <br>
                            <br>
                            <button class="btn btn-primary" type="submit">Save Changes and Download PDF</button>
                            <script>
  
  
  const advancedModeCheckbox = document.getElementById('advancedModeCheckbox');
  const advancedMetadataDiv = document.getElementById('advancedMetadata');
  const otherMetadataEntriesDiv = document.getElementById('otherMetadataEntries');


  
  const addMetadataBtn = document.getElementById("addMetadataBtn");
  const customMetadataFormContainer = document.getElementById("customMetadataEntries");
  var count = 1;
  addMetadataBtn.addEventListener("click", () => {
    const keyInput = document.createElement("input");
    keyInput.type = "text";
    keyInput.placeholder = "Key";
    keyInput.className = "form-control";
    keyInput.name = "customKey" + count;
    
    const valueInput = document.createElement("input");
    valueInput.type = "text";
    valueInput.placeholder = "Value";
    valueInput.className = "form-control";
    valueInput.name = "customValue1" + count;
    count = count + 1;
    
    const formGroup = document.createElement("div");
    formGroup.className = "form-group";
    formGroup.appendChild(keyInput);
    formGroup.appendChild(valueInput);
    
    
    customMetadataFormContainer.appendChild(formGroup);
  });

  

  const fileInput = document.querySelector("#fileInput-input");
  const authorInput = document.querySelector("#author");
  const creationDateInput = document.querySelector("#creationDate");
  const creatorInput = document.querySelector("#creator");
  const keywordsInput = document.querySelector("#keywords");
  const modificationDateInput = document.querySelector("#modificationDate");
  const producerInput = document.querySelector("#producer");
  const subjectInput = document.querySelector("#subject");
  const titleInput = document.querySelector("#title");
  const trappedInput = document.querySelector("#trapped");
  
  var lastPDFFileMeta = null;
  fileInput.addEventListener("change", async function() {
    const file = this.files[0];
    var url = URL.createObjectURL(file)

    const pdf = await pdfjsLib.getDocument(url).promise;
    const pdfMetadata = await pdf.getMetadata();
    lastPDFFile = pdfMetadata?.info
    console.log(pdfMetadata);
    authorInput.value = pdfMetadata?.info?.Author;
    creationDateInput.value = convertDateFormat(pdfMetadata?.info?.CreationDate);
    creatorInput.value = pdfMetadata?.info?.Creator;
    keywordsInput.value = pdfMetadata?.info?.Keywords;
    modificationDateInput.value = convertDateFormat(pdfMetadata?.info?.ModDate);
    producerInput.value = pdfMetadata?.info?.Producer;
    subjectInput.value = pdfMetadata?.info?.Subject;
    titleInput.value = pdfMetadata?.info?.Title;
    trappedInput.value = pdfMetadata?.info?.Trapped;
    
    addExtra();
  });
  function convertDateFormat(dateTimeString) {
	  if (!dateTimeString || dateTimeString.length < 17) {
	    return dateTimeString;
	  }

	  const year = dateTimeString.substring(2, 6);
	  const month = dateTimeString.substring(6, 8);
	  const day = dateTimeString.substring(8, 10);
	  const hour = dateTimeString.substring(10, 12);
	  const minute = dateTimeString.substring(12, 14);
	  const second = dateTimeString.substring(14, 16);

	  return year + "/" + month + "/" + day + " " + hour + ":" + minute + ":" + second;
	}
  
    function addExtra() {
         const event = document.getElementById("advancedModeCheckbox");
        
    
        if (event.checked) {
          advancedMetadataDiv.style.display = 'block';
          for (const [key, value] of Object.entries(lastPDFFile)) {
            if (key === 'Author' || key === 'CreationDate' || key === 'Creator' || key === 'Keywords' || key === 'ModDate' || key === 'Producer' || key === 'Subject' || key === 'Title' || key === 'Trapped') {
              continue;
            }
            const entryDiv = document.createElement('div');
            entryDiv.className = 'form-group';
            
            
          
            entryDiv.innerHTML = `<div class="form-group"><label class="form-check-label" for="${key}">${key}:</label><input name="${key}" value="${value}" type="text" class="form-control" id="${key}"></div>`;
            otherMetadataEntriesDiv.appendChild(entryDiv);
          }
        } else {
          advancedMetadataDiv.style.display = 'none';
          while (otherMetadataEntriesDiv.firstChild) {
            otherMetadataEntriesDiv.removeChild(otherMetadataEntriesDiv.firstChild);
          }
        }
        
    
    }
    
  advancedModeCheckbox.addEventListener('change', (event) => {
     
      addExtra();
      });
  

</script>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>
</html>
