<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}" xmlns:th="https://www.thymeleaf.org">
  <head>
  <th:block th:insert="~{fragments/common :: head(title=#{permissions.title}, header=#{permissions.header})}"></th:block>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
        <br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 bg-card">
              <div class="tool-header">
                <span class="material-symbols-rounded tool-header-icon security">encrypted</span>
                <span class="tool-header-text" th:text="#{permissions.header}"></span>
              </div>
              <p th:text="#{permissions.warning}"></p>
              <form action="api/v1/security/add-password" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label th:text="#{permissions.selectText.1}"></label>
                  <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false, accept='application/pdf')}"></div>
                </div>
                <div class="mb-3">
                  <label class="mb-2" th:text="#{permissions.selectText.2}"></label>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="canAssembleDocument" name="canAssembleDocument">
                    <label for="canAssembleDocument" th:text="#{permissions.selectText.3}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="canExtractContent" name="canExtractContent">
                    <label for="canExtractContent" th:text="#{permissions.selectText.4}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="canExtractForAccessibility" name="canExtractForAccessibility">
                    <label for="canExtractForAccessibility" th:text="#{permissions.selectText.5}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="canFillInForm" name="canFillInForm">
                    <label for="canFillInForm" th:text="#{permissions.selectText.6}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="canModify" name="canModify">
                    <label for="canModify" th:text="#{permissions.selectText.7}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="canModifyAnnotations" name="canModifyAnnotations">
                    <label for="canModifyAnnotations" th:text="#{permissions.selectText.8}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="canPrint" name="canPrint">
                    <label for="canPrint" th:text="#{permissions.selectText.9}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="canPrintFaithful" name="canPrintFaithful">
                    <label for="canPrintFaithful" th:text="#{permissions.selectText.10}"></label>
                  </div>
                </div>
                <br>
                <div class="mb-3 text-center">
                  <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{permissions.submit}"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
  </body>
</html>