<!DOCTYPE html>
<html th:lang="${#locale.language}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{changeMetadata.title})}"></th:block>

<body>	<div id="page-container">
		<div id="content-wrap">
	<div th:insert="~{fragments/navbar.html :: navbar}"></div>
	<br>
	<br>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2 th:text="#{changeMetadata.header}"></h2>

				<form method="post" enctype="multipart/form-data" th:action="@{/update-metadata}">
  <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false)}"></div>

 
  <p class="text-muted">Please select the variables you wish to change</p>

<div class="form-group form-check form-check-inline">
  <input type="checkbox"  class="form-check-input"  id="deleteAll">
  <label class="ml-3" for="deleteAll">Delete all metadata</label>
</div>

<div class="form-group form-check form-check-inline">
  <input type="checkbox"  class="form-check-input"  id="advancedModeCheckbox">
  <label class="ml-3" for="advancedModeCheckbox">Show Advanced Metadata:</label>
</div>
  
  <div class="form-group form-check">
    <label class="form-check-label" for="author">Author:</label>
    <input type="text" class="form-control" id="author">
  </div>

  <div class="form-group form-check">
    <label class="form-check-label" for="creationDate">Creation Date:</label>
    <input type="text" class="form-control" id="creationDate">
  </div>

  <div class="form-group form-check">
    <label class="form-check-label" for="creator">Creator:</label>
    <input type="text" class="form-control" id="creator">
  </div>

  <div class="form-group form-check">
    <label class="form-check-label" for="keywords">Keywords:</label>
    <input type="text" class="form-control" id="keywords">
  </div>

  <div class="form-group form-check">
    <label class="form-check-label" for="modificationDate">Modification Date:</label>
    <input type="text" class="form-control" id="modificationDate">
  </div>

  <div class="form-group form-check">
    <label class="form-check-label" for="producer">Producer:</label>
    <input type="text" class="form-control" id="producer">
  </div>

  <div class="form-group form-check">
    <label class="form-check-label" for="subject">Subject:</label>
    <input type="text" class="form-control" id="subject">
  </div>
  
  <div class="form-group form-check">
    <label class="form-check-label" for="title">Title:</label>
    <input type="text" class="form-control" id="title">
  </div>
    
  <div class="form-group form-check">
    <label class="form-check-label" for="trapped">Trapped:</label>
    <input type="text" class="form-control" id="trapped">
  </div>
  <div id="advancedMetadata" style="display:none;">
	  <p>Other Metadata:</p>
	  <div class="form-group" id="otherMetadataEntries"></div>
  </div>
  <div id="customMetadataEntries"></div>
  <button type="button" class="btn btn-secondary" id="addMetadataBtn">Add Custom Metadata Entry</button>
  <br><br>
  <button class="btn btn-primary" type="submit">Save Changes and Download PDF</button>
  <script>
  
  
  const advancedModeCheckbox = document.getElementById('advancedModeCheckbox');
  const advancedMetadataDiv = document.getElementById('advancedMetadata');
  const otherMetadataEntriesDiv = document.getElementById('otherMetadataEntries');

  
  
  
  
  
  const addMetadataBtn = document.getElementById("addMetadataBtn");
  const customMetadataFormContainer = document.getElementById("customMetadataEntries");

  addMetadataBtn.addEventListener("click", () => {
    const keyInput = document.createElement("input");
    keyInput.type = "text";
    keyInput.placeholder = "Key";

    const valueInput = document.createElement("input");
    valueInput.type = "text";
    valueInput.placeholder = "Value";

    customMetadataFormContainer.appendChild(keyInput);
    customMetadataFormContainer.appendChild(valueInput);
  });

  

  const fileInput = document.querySelector("#fileInput-input");
  const authorInput = document.querySelector("#author");
  const creationDateInput = document.querySelector("#creationDate");
  const creatorInput = document.querySelector("#creator");
  const keywordsInput = document.querySelector("#keywords");
  const modificationDateInput = document.querySelector("#modificationDate");
  const producerInput = document.querySelector("#producer");
  const subjectInput = document.querySelector("#subject");
  const titleInput = document.querySelector("#title");
  const trappedInput = document.querySelector("#trapped");
  
  var lastPDFFileMeta = null;
  fileInput.addEventListener("change", async function() {
    const file = this.files[0];
    var url = URL.createObjectURL(file)

	const pdf = await pdfjsLib.getDocument(url).promise;
    const pdfMetadata = await pdf.getMetadata();
    lastPDFFile = pdfMetadata?.info
    console.log(pdfMetadata);
    authorInput.value = pdfMetadata?.info?.Author;
    creationDateInput.value = pdfMetadata?.info?.CreationDate;
    creatorInput.value = pdfMetadata?.info?.Creator;
    keywordsInput.value = pdfMetadata?.info?.Keywords;
    modificationDateInput.value = pdfMetadata?.info?.ModDate;
    producerInput.value = pdfMetadata?.info?.Producer;
    subjectInput.value = pdfMetadata?.info?.Subject;
    titleInput.value = pdfMetadata?.info?.Title;
    trappedInput.value = pdfMetadata?.info?.Trapped;
    
    addExtra();
  });

	function addExtra() {
 		 const event = document.getElementById("advancedModeCheckbox");
 		
 	
 		if (event.checked) {
 	      advancedMetadataDiv.style.display = 'block';
 	      for (const [key, value] of Object.entries(lastPDFFile)) {
 	        if (key === 'Author' || key === 'CreationDate' || key === 'Creator' || key === 'Keywords' || key === 'ModDate' || key === 'Producer' || key === 'Subject' || key === 'Title' || key === 'Trapped') {
 	          continue;
 	        }
 	        const entryDiv = document.createElement('div');
 	        entryDiv.className = 'form-group';
 	        
 	        
 	      
 	        entryDiv.innerHTML = `<div class="form-group form-check"><label class="form-check-label" for="${key}">${key}:</label><input value="${value}" type="text" class="form-control" id="${key}"></div>`;
 	        otherMetadataEntriesDiv.appendChild(entryDiv);
 	      }
 	    } else {
 	      advancedMetadataDiv.style.display = 'none';
 	      while (otherMetadataEntriesDiv.firstChild) {
 	        otherMetadataEntriesDiv.removeChild(otherMetadataEntriesDiv.firstChild);
 	      }
 	    }
 	    
 	
 	}
 	
  advancedModeCheckbox.addEventListener('change', (event) => {
	 
	  addExtra();
	  });
  

</script>
  </form>
  
			</div>
		</div>
	</div>
	</div>
		<div th:insert="~{fragments/footer.html :: footer}"></div>
	</div>
</body>
</html>
