<!DOCTYPE html>
<html th:lang="${#locale.language}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{removePassword.title})}"></th:block>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 th:text="#{removePassword.header}"></h2>

                        <form action="add-password" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label th:text="#{removePassword.selectText.1}"></label>
                                <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false)}"></div>
                            </div>
                            <div class="form-group">
                                <label th:text="#{removePassword.selectText.2}"></label> 
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <br />
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary" th:text="#{removePassword.submit}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>
</html>
