<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}" xmlns:th="https://www.thymeleaf.org">
  <head>
  <th:block th:insert="~{fragments/common :: head(title=#{removePassword.title}, header=#{removePassword.header})}"></th:block>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
        <br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 bg-card">
              <div class="tool-header">
                <span class="material-symbols-rounded tool-header-icon security">lock_open_right</span>
                <span class="tool-header-text" th:text="#{removePassword.header}"></span>
              </div>
              <form th:action="@{'api/v1/security/remove-password'}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label th:text="#{removePassword.selectText.1}"></label>
                  <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multipleInputsForSingleRequest=false, accept='application/pdf')}"></div>
                </div>
                <div class="mb-3">
                  <label th:text="#{removePassword.selectText.2}"></label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <br>
                <div class="mb-3 text-left">
                  <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{removePassword.submit}"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
  </body>
</html>