version: 1
labels:

  - label: "Bugfix"
    title: '^fix(\([^)]*\))?:|^fix:.*'

  - label: "enhancement"
    title: '^feat(\([^)]*\))?:|^feat:.*'

  - label: "build"
    title: '^build(\([^)]*\))?:|^build:.*'

  - label: "chore"
    title: '^chore(\([^)]*\))?:|^chore:.*'

  - label: "ci"
    title: '^ci(\([^)]*\))?:|^ci:.*'

  - label: "ci"
    title: '^.*\(ci\):.*'

  - label: "perf"
    title: '^perf(\([^)]*\))?:|^perf:.*'

  - label: "refactor"
    title: '^refactor(\([^)]*\))?:|^refactor:.*'

  - label: "revert"
    title: '^revert(\([^)]*\))?:|^revert:.*'

  - label: "style"
    title: '^style(\([^)]*\))?:|^style:.*'

  - label: "Documentation"
    title: '^docs(\([^)]*\))?:|^docs:.*'

  - label: "Documentation"
    title: '^.*\(docs\):.*'

  - label: "dependencies"
    title: '^deps(\([^)]*\))?:|^deps:.*'

  - label: "dependencies"
    title: '^.*\(deps\):.*'

  - label: 'API'
    title: '.*openapi.*|.*swagger.*|.*api.*'

  - label: 'v2'
    base-branch: 'V2'

  - label: 'Translation'
    files:
      - 'app/core/src/main/resources/messages_[a-zA-Z_]{2}_[a-zA-Z_]{2,7}.properties'
      - 'scripts/ignore_translation.toml'
      - 'app/core/src/main/resources/templates/fragments/languages.html'
      - '.github/scripts/check_language_properties.py'

  - label: 'Front End'
    files:
      - 'app/core/src/main/resources/templates/.*'
      - 'app/proprietary/src/main/resources/templates/.*'
      - 'app/core/src/main/resources/static/.*'
      - 'app/proprietary/src/main/resources/static/.*'
      - 'app/core/src/main/java/stirling/software/SPDF/controller/web/.*'
      - 'app/core/src/main/java/stirling/software/SPDF/UI/.*'
      - 'app/proprietary/src/main/java/stirling/software/proprietary/security/controller/web/.*'
      - 'frontend/**'

  - label: 'Java'
    files:
      - 'app/common/src/main/java/.*.java'
      - 'app/proprietary/src/main/java/.*.java'
      - 'app/core/src/main/java/.*.java'

  - label: 'Back End'
    files:
      - 'app/core/src/main/java/stirling/software/SPDF/config/.*'
      - 'app/core/src/main/java/stirling/software/SPDF/controller/.*'
      - 'app/core/src/main/resources/settings.yml.template'
      - 'app/core/src/main/resources/application.properties'
      - 'app/core/src/main/resources/banner.txt'
      - 'app/core/src/main/resources/static/python/png_to_webp.py'
      - 'app/core/src/main/resources/static/python/split_photos.py'
      - 'app/core/src/main/resources/static/pipeline/defaultWebUIConfigs/**'
      - 'application.properties'

  - label: 'Security'
    files:
      - 'app/proprietary/src/main/java/stirling/software/proprietary/security/.*'
      - 'scripts/download-security-jar.sh'
      - '.github/workflows/dependency-review.yml'
      - '.github/workflows/scorecards.yml'

  - label: 'API'
    files:
      - 'app/core/src/main/java/stirling/software/SPDF/config/OpenApiConfig.java'
      - 'app/core/src/main/java/stirling/software/SPDF/controller/web/MetricsController.java'
      - 'app/core/src/main/java/stirling/software/SPDF/controller/api/.*'
      - 'app/core/src/main/java/stirling/software/SPDF/model/api/.*'
      - 'app/core/src/main/java/stirling/software/SPDF/service/ApiDocService.java'
      - 'app/proprietary/src/main/java/stirling/software/proprietary/security/controller/api/.*'
      - 'app/core/src/main/resources/static/python/png_to_webp.py'
      - 'app/core/src/main/resources/static/python/split_photos.py'
      - '.github/workflows/swagger.yml'

  - label: 'Documentation'
    files:
      - '.*.md'
      - 'scripts/counter_translation.py'
      - 'scripts/ignore_translation.toml'

  - label: 'Docker'
    files:
      - '.github/workflows/build.yml'
      - '.github/workflows/push-docker.yml'
      - 'Dockerfile'
      - 'Dockerfile.fat'
      - 'Dockerfile.ultra-lite'
      - 'exampleYmlFiles/.*.yml'
      - 'scripts/download-security-jar.sh'
      - 'scripts/init.sh'
      - 'scripts/init-without-ocr.sh'
      - 'scripts/installFonts.sh'
      - 'test.sh'
      - 'test2.sh'
      - 'docker/**'

  - label: 'Devtools'
    files:
      - '.devcontainer/.*'
      - 'Dockerfile.dev'
      - '.vscode/.*'
      - '.editorconfig'
      - '.pre-commit-config'
      - '.github/workflows/pre_commit.yml'
      - 'devGuide/.*'
      - 'devTools/.*'

  - label: 'Test'
    files:
      - 'app/common/src/test/.*'
      - 'app/proprietary/src/test/.*'
      - 'app/core/src/test/.*'
      - 'testing/.*'
      - '.github/workflows/scorecards.yml'
      - 'exampleYmlFiles/test_cicd.yml'

  - label: 'Github'
    files:
      - '.github/.*'

  - label: 'Gradle'
    files:
      - 'gradle/.*'
      - 'gradlew'
      - 'gradlew.bat'
      - 'settings.gradle'
      - 'build.gradle'
      - 'app/common/build.gradle'
      - 'app/proprietary/build.gradle'
      - 'app/core/build.gradle'
