* text=auto eol=lf

# Ignore all JavaScript files in a directory
core/src/main/resources/static/pdfjs/* linguist-vendored
core/src/main/resources/static/pdfjs/** linguist-vendored
core/src/main/resources/static/pdfjs-legacy/* linguist-vendored
core/src/main/resources/static/pdfjs-legacy/** linguist-vendored
core/src/main/resources/static/css/bootstrap-icons.css linguist-vendored
core/src/main/resources/static/css/bootstrap.min.css linguist-vendored
core/src/main/resources/static/css/fonts/* linguist-vendored
