#drag-container {
  position: fixed;
  display: flex;
  inset: 0;
  pointer-events: none;
  z-index: 10000;
  visibility: hidden;
}

#drag-container:not(:empty) {
  visibility: visible;
}

#drag-container .dragged-img {
  position: fixed;
  max-width: 200px;
  max-height: 200px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.58);
  transform-origin: top left;
}

#drag-container .multidrag {
  position: fixed;
  max-width: 200px;
  max-height: 200px;
  transform-origin: top left;
  margin-left: 1rem;
  background-color: rgba(0, 29, 41, 0.9);
}

.drag-manager_dragging {
  opacity: 0.2;
}


.drag-manager_draghover .insert-file-button-container {
  display: none !important;
}

.drag-manager_draghover .button-container {
  visibility: hidden !important;
}

html[dir="ltr"] .drag-manager_draghover img {
  left: 80% !important;
}

html[dir="rtl"] .drag-manager_draghover img {
  left: 25px;
}

.drag-manager_dragging-container .hide-on-drag {
  display: none !important;
}

.drag-manager_endpoint {
  width: 150px;
  height: 250px;
  background-color: #ffffff10;
  transition: width 0.1s;
  animation: end-drop-expand 0.3s ease;
  align-items: center;
  justify-content: center;
  margin-left:16px;
  border-radius: 8px;
}

.drag-manager_endpoint svg {
  width: 50px;
  height: 50px;

  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.drag-manager_endpoint.drag-manager_draghover {
  width: 180px !important;
  border: 2px solid darkgreen;
}

@keyframes end-drop-expand {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}
.moved-element img {
  border: 8px solid #198754;
  border-radius: 3px;
  transition: border  0.5s ease-out;
}

.moved-element.remove img{
  border: 8px solid transparent;
}
