/* Use Tailwind for most styles, keep only complex layouts in CSS modules */

.leftSidebar {
  min-width: var(--sidebar-width-min);
  max-width: var(--sidebar-width-max);
  width: var(--sidebar-width);
}

.rightSidebar {
  min-width: 260px;
  max-width: 400px;
  width: 22vw;
}
