<!DOCTYPE html>
<html th:lang="${#locale.toString()}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="~{fragments/common :: head(title=#{ocr.title})}"></th:block>


<body>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 th:text="#{ocr.header}"></h2>
                         <form th:if="${#lists.size(languages) > 0}" action="#" th:action="@{/ocr-pdf}" method="post" enctype="multipart/form-data" class="mb-3">
                            <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false, accept='application/pdf')}"></div>
                            <div class="form-group">
                                <label for="languages" class="form-label" th:text="#{ocr.selectText.1}"></label>
                                <hr>
                                <div id="languages">
                                    <div th:each="language, iterStat : ${languages}">
                                        <input type="checkbox" th:name="languages" th:value="${language}" th:id="${'language-' + language}" />
                                        <label class="form-check-label" th:for="${'language-' + language}" th:text="${(language == 'eng') ? 'English' : language}"></label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="form-group">
                                <label th:text="#{ocr.selectText.10}"></label> 
                                <select class="form-control" name="ocrType">
                                    <option value="skip-text" th:text="#{ocr.selectText.6}"></option>
                                    <option value="force-ocr" th:text="#{ocr.selectText.7}"></option>
                                    <option value="Normal" th:text="#{ocr.selectText.8}"></option>
                                </select>
                            </div>
                            <br>
                            <label for="languages" class="form-label" th:text="#{ocr.selectText.9}"></label>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="sidecar" id="sidecar" />
                                <label class="form-check-label" for="sidecar" th:text="#{ocr.selectText.2}"></label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="deskew" id="deskew" />
                                <label class="form-check-label" for="deskew" th:text="#{ocr.selectText.3}"></label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="clean" id="clean" />
                                <label class="form-check-label" for="clean" th:text="#{ocr.selectText.4}"></label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="clean-final" id="clean-final" />
                                <label class="form-check-label" for="clean-final" th:text="#{ocr.selectText.5}"></label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="removeImagesAfter" id="removeImagesAfter" />
                                <label class="form-check-label" for="removeImagesAfter" th:text="#{ocr.selectText.11}"></label>
                            </div>
                            
                            
                            <div class="form-group">
                                <label th:text="#{ocr.selectText.12}"></label> 
                                <select class="form-control" name="ocrRenderType">
                                    <option value="hocr">HOCR (Latin/Roman alphabet only)</option>
                                    <option value="sandwich">Sandwich</option>
                                </select>
                            </div>
                            <br>
                            <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{ocr.submit}"></button>
                        </form>
                        <p th:text="#{ocr.credit}"></p>
                        <p th:text="#{ocr.help}"></p>
                        <a href="https://github.com/Frooodle/Stirling-PDF/blob/main/HowToUseOCR.md">https://github.com/Frooodle/Stirling-PDF/blob/main/HowToUseOCR.md</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>

</html>