<!DOCTYPE html>
<html th:lang="${#locale.toString()}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="~{fragments/common :: head(title=#{scalePages.title})}"></th:block>


<body>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 th:text="#{scalePages.header}"></h2>
                         <form id="scalePagesFrom" th:action="@{scale-pages}" method="post" enctype="multipart/form-data">
                            <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false, accept='application/pdf')}"></div>
                            <div class="mb-3">
	                            <label for="pageSize" th:text="#{scalePages.pageSize}"></label>
							    <select id="pageSize" name="pageSize" required>
							        
							        <option value="A0">A0</option>
							        <option value="A1">A1</option>
							        <option value="A2">A2</option>
							        <option value="A3">A3</option>
							        <option value="A4" selected>A4</option>
							        <option value="A5">A5</option>
							        <option value="A6">A6</option>
							        <option value="A7">A7</option>
							        <option value="A8">A8</option>
							        <option value="A9">A9</option>
							        <option value="A10">A10</option>
							        <option value="B0">B0</option>
							        <option value="B1">B1</option>
							        <option value="B2">B2</option>
							        <option value="B3">B3</option>
							        <option value="B4">B4</option>
							        <option value="B5">B5</option>
							        <option value="B6">B6</option>
							        <option value="B7">B7</option>
							        <option value="B8">B8</option>
							        <option value="B9">B9</option>
							        <option value="LETTER">Letter</option>
							        <option value="LEGAL">Legal</option>
							        <option value="EXECUTIVE">Executive</option>
							        <option value="TABLOID">Tabloid</option>
							        <option value="LEDGER">Ledger</option>
							    </select>
						    </div>
                            <div class="mb-3">
	                            <label for="scaleFactor" th:text="#{scalePages.scaleFactor}"></label>
                                <input type="number" id="scaleFactor" name="scaleFactor" step="any" min="0" value="1">
						    </div>
                            <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{scalePages.submit}"></button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>

</html>