build: &build
  - build.gradle
  - app/(common|core|proprietary)/build.gradle

app: &app
  - app/(common|core|proprietary)/src/main/java/**

openapi: &openapi
  - build.gradle
  - app/(common|core|proprietary)/build.gradle
  - app/(common|core|proprietary)/src/main/java/**

docker: &docker
  - Dockerfile
  - Dockerfile.fat
  - Dockerfile.ultra-lite

project: &project
  - app/(common|core|proprietary)/src/(main|test)/java/**
  - app/(common|core|proprietary)/build.gradle
  - 'app/(common|core|proprietary)/src/(main|test)/resources/**/!(messages_*.properties|*.md)*'
  - exampleYmlFiles/**
  - gradle/**
  - libs/**
  - 'testing/**/!(requirements*.txt|requirements*.in)*'
  - build.gradle
  - *docker
  - gradle.properties
  - gradlew
  - gradlew.bat
  - launch4jConfig.xml
  - settings.gradle
  - frontend/**
  - docker/**

frontend: &frontend
  - frontend/**
  - .github/workflows/testdriver.yml
  - testing/**
  - docker/**
