:root {
    /*  Colors */
    --md-sys-color-primary: rgb(162 201 255);
    --md-sys-color-surface-tint: rgb(162 201 255);
    --md-sys-color-on-primary: rgb(0 49 92);
    --md-sys-color-primary-container: rgb(0 118 208);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(169 201 246);
    --md-sys-color-on-secondary: rgb(12 49 87);
    --md-sys-color-secondary-container: rgb(29 62 100);
    --md-sys-color-on-secondary-container: rgb(180 210 255);
    --md-sys-color-tertiary: rgb(193 194 248);
    --md-sys-color-on-tertiary: rgb(42 44 88);
    --md-sys-color-tertiary-container: rgb(110 112 161);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(15 20 26);
    --md-sys-color-on-background: rgb(223 226 235);
    --md-sys-color-surface: rgb(15 20 26);
    --md-sys-color-on-surface: rgb(223 226 235);
    --md-sys-color-surface-variant: rgb(64 71 83);
    --md-sys-color-on-surface-variant: rgb(192 199 213);
    --md-sys-color-outline: rgb(138 145 158);
    --md-sys-color-outline-variant: rgb(64 71 83);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(223 226 235);
    --md-sys-color-inverse-on-surface: rgb(45 49 55);
    --md-sys-color-inverse-primary: rgb(0 96 170);
    --md-sys-color-primary-fixed: rgb(211 228 255);
    --md-sys-color-on-primary-fixed: rgb(0 28 56);
    --md-sys-color-primary-fixed-dim: rgb(162 201 255);
    --md-sys-color-on-primary-fixed-variant: rgb(0 72 130);
    --md-sys-color-secondary-fixed: rgb(211 228 255);
    --md-sys-color-on-secondary-fixed: rgb(0 28 56);
    --md-sys-color-secondary-fixed-dim: rgb(169 201 246);
    --md-sys-color-on-secondary-fixed-variant: rgb(40 72 111);
    --md-sys-color-tertiary-fixed: rgb(225 224 255);
    --md-sys-color-on-tertiary-fixed: rgb(20 22 66);
    --md-sys-color-tertiary-fixed-dim: rgb(193 194 248);
    --md-sys-color-on-tertiary-fixed-variant: rgb(64 67 112);
    --md-sys-color-surface-dim: rgb(15 20 26);
    --md-sys-color-surface-bright: rgb(53 57 64);
    --md-sys-color-surface-container-lowest: rgb(10 14 20);
    --md-sys-color-surface-container-low: rgb(24 28 34);
    --md-sys-color-surface-container: rgb(28 32 38);
    --md-sys-color-surface-container-high: rgb(38 42 49);
    --md-sys-color-surface-container-highest: rgb(49 53 60);
    /* Tools Color */
    --md-nav-section-color-opacity: 1;
    --md-nav-on-section-color-opacity: 1;
    --md-nav-section-color-sign: rgba(25, 101, 212, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-sign: rgba(28, 27, 31, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-organize: rgba(120, 130, 255, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-organize: rgba(28, 27, 31, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-convert: rgba(25, 177, 212, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-convert: rgba(28, 27, 31, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-security: rgba(255, 120, 146, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-security: rgba(28, 27, 31, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-other: rgba(72, 189, 84, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-other: rgba(28, 27, 31, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-advance: rgba(245, 84, 84, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-advance: rgba(28, 27, 31, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-image: rgba(212, 172, 25, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-image: rgba(28, 27, 31, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-word: rgba(61, 153, 245, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-word: rgba(28, 27, 31, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-ppt: rgba(255, 128, 0, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-ppt: rgba(28, 27, 31, var(--md-nav-on-section-color-opacity));
}