<div th:fragment="card" class="feature-card" th:id="${id}" th:if="${@endpointConfiguration.isEndpointEnabled(cardLink)}" data-tags="${tags}">
    <a th:href="${cardLink}">
        <div class="d-flex align-items-center"> <!-- Add a flex container to align the SVG and title -->
            <img th:if="${svgPath}"  id="card-icon" class="home-card-icon home-card-icon-colour" th:src="${svgPath}" alt="Icon" width="30" height="30">
            <h5 class="card-title  ml-2" th:text="${cardTitle}"></h5> <!-- Add some margin-left (ml-2) for spacing between SVG and title -->
        </div>
        <p class="card-text" th:text="${cardText}"></p>
    </a>
    <div class="favorite-icon" onclick="toggleFavorite(this)">
        <img src="images/star.svg" alt="Favorite">
    </div>
</div>
