<footer th:fragment="footer" id="footer" class="text-center py-5">
  <div class="footer-center">
    <div class="footer-powered-by">
      <span th:text="#{poweredBy} + ' Stirling PDF'"></span>
    </div>
    <a th:href="@{'/licenses'}" id="licenses" target="_blank" class="mx-1" title="" th:text="#{licenses.nav}">Licenses</a>
    <a href="https://stirlingpdf.info/s/clwzgtfw7000gltkmwz1n212m" id="survey" target="_blank" class="mx-1" title="" th:text="#{survey.nav}">Survey</a>
  </div>
</footer>

