<th:block th:fragment="navbarEntry(endpoint, toolIcon, titleKey, descKey, tagKey, toolGroup)"
th:if="${@endpointConfiguration.isEndpointEnabled(endpoint)}">
  <a th:id="@{${endpoint}}" class="dropdown-item" style="position:relative"  th:href="@{${endpoint}}" th:data-bs-link="@{${endpoint}}"
    th:classappend="${endpoint.equals(currentPage)} ?  ${toolGroup} + ' active' : '' + ${toolGroup}"
    th:data-bs-tags="#{${tagKey}}" th:data-bs-title='#{${titleKey}}'>
    <span class="nav-tooltip" th:text="#{${descKey}}"></span>
    <div style="height:2.5rem;align-items: center;display: flex" class="icon" alt="icon" th:class="@{${toolGroup}}">
      <svg class="nav-icon" style="height: 2.5rem; width:2.5rem">
        <use th:xlink:href="@{${toolIcon}}"></use>
      </svg>
      <span class="icon-text" th:text="#{${titleKey}}"></span>
    </div>
    <span class="material-symbols-rounded favorite-icon" style="display: none;" th:data-endpoint="@{${endpoint}}" th:onclick="'addToFavorites(\'' + @{${endpoint}} + '\')'">
      star
    </span>
  </a>

</th:block>