<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}" xmlns:th="https://www.thymeleaf.org">
  <head>
  <th:block th:insert="~{fragments/common :: head(title=#{changeMetadata.title}, header=#{changeMetadata.header})}"></th:block>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
        <br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 bg-card">
              <div class="tool-header">
                <span class="material-symbols-rounded tool-header-icon other">assignment</span>
                <span class="tool-header-text" th:text="#{changeMetadata.header}"></span>
              </div>
              <form method="post" id="form1" enctype="multipart/form-data" th:action="@{'/api/v1/misc/update-metadata'}">
                <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multipleInputsForSingleRequest=false, accept='application/pdf')}"></div>
                <p class="text-muted" th:text="#{changeMetadata.selectText.1}"></p>
                <div class="form-check mb-3-inline ms-3">
                  <input type="checkbox" id="deleteAll" name="deleteAll">
                  <label for="deleteAll" th:text="#{changeMetadata.selectText.2}" ></label>
                </div>
                <div class="form-check mb-3-inline ms-3">
                  <input type="checkbox" id="customModeCheckbox">
                  <label for="customModeCheckbox" th:text="#{changeMetadata.selectText.3}"></label>
                </div>
                <div class="mb-3">
                  <label class="form-check-label" for="author" th:text="#{changeMetadata.author}"></label>
                  <input type="text" class="form-control" id="author" name="author">
                </div>

                <div class="mb-3">
                  <label class="form-check-label" for="creationDate" th:text="#{changeMetadata.creationDate}"></label>
                  <input type="text" class="form-control" id="creationDate" name="creationDate" placeholder="2020/12/25 18:30:59">
                </div>

                <div class="mb-3">
                  <label class="form-check-label" for="creator" th:text="#{changeMetadata.creator}"></label>
                  <input type="text" class="form-control" id="creator" name="creator">
                </div>

                <div class="mb-3">
                  <label class="form-check-label" for="keywords" th:text="#{changeMetadata.keywords}"></label>
                  <input type="text" class="form-control" id="keywords" name="keywords">
                </div>

                <div class="mb-3">
                  <label class="form-check-label" for="modificationDate" th:text="#{changeMetadata.modDate}"></label>
                  <input type="text" class="form-control" id="modificationDate" name="modificationDate" placeholder="2020/12/25 18:30:59">
                </div>

                <div class="mb-3">
                  <label class="form-check-label" for="producer" th:text="#{changeMetadata.producer}"></label>
                  <input type="text" class="form-control" id="producer" name="producer">
                </div>

                <div class="mb-3">
                  <label class="form-check-label" for="subject" th:text="#{changeMetadata.subject}"></label>
                  <input type="text" class="form-control" id="subject" name="subject">
                </div>

                <div class="mb-3">
                  <label class="form-check-label" for="title" th:text="#{changeMetadata.title}"></label>
                  <input type="text" class="form-control" id="title" name="title">
                </div>

                <div class="mb-3">
                  <label class="form-check-label" for="trapped" th:text="#{changeMetadata.trapped}"></label>
                  <select class="form-control" id="trapped" name="trapped">
                    <option value="True" th:text="#{true}"></option>
                    <option value="False" th:text="#{false}" selected></option>
                    <option value="Unknown" th:text="#{unknown}"></option>
                  </select>
                </div>
                <div id="customMetadata" style="display: none;">
                  <h3 th:text="#{changeMetadata.selectText.4}"></h3>
                  <div class="mb-3" id="otherMetadataEntries"></div>
                </div>
                <div id="customMetadataEntries"></div>
                <button type="button" class="btn btn-secondary" id="addMetadataBtn" th:text="#{changeMetadata.selectText.5}"></button>
                <br>
                <br>
                <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{changeMetadata.submit}"></button>
                <script type="module" th:src="@{'/pdfjs-legacy/pdf.mjs'}"></script>
                <script type="module" th:src="@{'/js/pages/change-metadata.js'}">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>
      <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
  </body>
</html>