/* Dark Mode Styles */
body {
    background-color: #333  !important;
    color: #fff  !important;
}

.dark-card {
  background-color: #333 !important;
  color: white !important;
}
.jumbotron {
  background-color: #222; /* or any other dark color */
  color: #fff !important; /* or any other light color */
}

.list-group {
  background-color: #222 !important;
  color: fff !important;
}
.list-group-item {
  background-color: #222 !important;
  color: fff !important;
}
#support-section {
   background-color: #444 !important;
}

