.custom-file-label {
  padding-right: 90px;
}

.selected-files {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  white-space: pre-wrap;
}
#input{
  display: none;
}

#file-name {
  display: block;
  background-color: #f8f9fa;
  color: #212529;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.custom-file-chooser .mb-3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-chooser-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 75%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #E9ECEF 25%, #F1F3FD 25%);
  color: black;
  border: none;
  box-shadow: none !important; /* Removes the box shadow */
}

/* State after a file is added */
.file-chooser-button.file-added {
  color: black; /* Ensures text color remains black after file is added */
  box-shadow: none !important; /* Removes the box shadow */
}


.file-chooser-button:hover {
  color: black; /* Ensures text color remains black on hover */
  box-shadow: none !important; /* Removes the box shadow */
}
.file-chooser-button:not(.file-added):hover {
  background-color: var(--md-sys-color-primary); /* Keeps the background color unchanged */
  box-shadow: none !important; /* Removes the box shadow */
  border-color: var(--md-sys-color-primary); /* Keeps the border color unchanged */
  color: black; /* Ensures text color remains black on hover */
}

.file-chooser-button::after {
  content: '';
  position: absolute;
  left: 25%; /* Adjust this value to where you want the line */
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #000;
}


.file-name-right {
  position: absolute;
  left: 26%; /* Position it to the right of the line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
