#footer {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-center {
  display: flex;
  align-items: center; /* Center children horizontally */
  flex-grow: 1;
  flex-direction: column;
}

.footer-powered-by {
  margin-top: auto; /* Pushes the text to the bottom */
  text-align: center; /* Centers the text inside the div */
  width: 100%; /* Full width to center the text properly */
}
.stirling-link {
  text-decoration: none; /* Remove the underline */
  color: inherit; /* Keep the text color the same as the surrounding text */
  cursor: pointer; /* Change the cursor to indicate it's clickable */
  font-weight: bold; /* Make it bold to subtly hint that it's clickable */
  transition: color 0.3s ease; /* Add a smooth transition effect for color change on hover */
}

.stirling-link:hover {
  color: #007BFF; /* Change the color on hover to a noticeable link color */
}
.footer-icon {
  font-size: 2rem;
}

.footer-link {
  text-decoration: none;
}
