#footer {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-center {
  display: flex;
  align-items: center; /* Center children horizontally */
  flex-grow: 1;
}

.footer-powered-by {
  margin-top: auto; /* Pushes the text to the bottom */
  color: grey;
  text-align: center; /* Centers the text inside the div */
  width: 100%; /* Full width to center the text properly */
}
