#page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content-wrap {
    flex: 1;
}

#footer {
    bottom: 0;
    width: 100%;
}

html[lang-direction=ltr] * {
    direction: ltr;
}
html[lang-direction=rtl] * {
    direction: rtl;
    text-align: right;
}
.ignore-rtl {
    direction: ltr !important;
    text-align: left !important;
}

.align-top {
    position: absolute;
    top: 0;
}
.align-center-right {
    position: absolute;
    right: 0;
    top: 50%;
}

.align-center-left {
    position: absolute;
    left: 0;
    top: 50%;
}

.align-bottom {
    position: absolute;
    bottom: 0;
}

.btn-group > label:first-of-type {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

html[lang-direction="rtl"] input.form-check-input {
    position: relative;
    margin-left: 0px;
}
html[lang-direction="rtl"] label.form-check-label {
    display: inline;
}

.margin-auto-parent {
    width: 100%;
    display: flex;
}
.margin-center {
    margin: 0 auto;
}
#pdf-canvas {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.384);
    width: 100%;
}