.main-icon {
	width: 36px;
	height: 36px;
	vertical-align: middle;
	transform: translateY(-2px);
}

.icon {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	transform: translateY(-2px);
}

.icon+.icon {
	margin-left: -4px;
}

.icon-text {
	margin-left: 4px;
}

.nav-item-separator {
	position: relative;
	margin: 0 4px; /* Adjust the margin as needed */
}

.nav-item-separator::before {
	content: '';
	position: absolute;
	left: 0;
	top: 10%; /* Adjust the top and bottom margins as needed */
	bottom: 10%;
	width: 1px;
	background-color: #ccc; /* Adjust the color as needed */
}

.navbar-icon {
	width: 20px;
	height: 20px;
	transform: translateY(-2px);
}