.selectable {
  border: 1px solid darkblue;
}

.textLayer span::selection,
.textLayer span::-moz-selection {
  background-color: rgba(0, 100, 0, 0.26);
}

.redaction-selected {
  border: 1px solid darkgreen !important;
}

.selected-wrapper {
  position: absolute;
  outline: 2px solid darkgreen;
  outline-offset: -2px;
  z-index: 10;
}

.selected-wrapper:hover:not(:has(svg:hover)) {
  outline-color: var(--palette-color, black);
  background-color: var(--palette-color, black);
  z-index: 10;
  transition: background-color 0.065s linear;

  cursor: pointer;
}

.redaction-overlay {
  display: flex;
  position: absolute;

  left: 40%;
  top: 100%;

  min-width: 25px;
  max-width: 90px;

  min-height: 25px;

  flex-wrap: wrap;

  column-gap: 5px;
  row-gap: 2px;

  border-radius: 2px;
  padding: 2px;

  box-sizing: border-box;

  background-color: rgb(0 96 170);
  outline: 1px solid gray;
}

.redaction-overlay svg {
  height: 25px;
  width: 25px;

  max-width: 35px;
  max-height: 35px;

  fill: rgba(255, 255, 255, 0.904);
  user-select: none;
}

.redaction-overlay svg:hover {
  cursor: pointer;
  background-color: rgb(3, 63, 109);
  fill: rgba(226, 226, 226, 0.904);
}

.redaction-selected:hover {
  background-color: green;
  border: 4px solid green !important;
}

.redaction-selected:hover::after {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;

  left: 0px;
  top: 0px;
  background-color: black;
  border: 2px solid red;
}

.selectable:hover {
  border: 1px solid blue;
}

.textLayer div,
.textLayer div > * {
  user-select: none;
}

.rectangle {
  border: 2px solid #ff0000;
  position: absolute;
}

html {
  --textLayer-pointer-events: auto;
}

.textLayer * {
  pointer-events: var(--textLayer-pointer-events);
}

#man-text-select-redact {
  height: 28px;
  width: 28px;
  border: none;

  background-color: var(--toolbar-bg-color);
  color: rgb(223 226 235);
}

#man-text-select-redact:is(:hover, :focus-within) {
  background-color: var(--button-hover-color);
}

#text-selection {
  position: relative;
  font-size: 22px;
}

#text-selection-eraser {
  position: absolute;
  left: 7px;
  top: 5px;

  font-size: 14px;
}

#man-shape-redact {
  height: 28px;
  width: 28px;
  border: none;

  background-color: var(--toolbar-bg-color);
  color: rgb(223 226 235);
}

#man-shape-redact:is(:hover, :focus-within) {
  background-color: var(--button-hover-color);
}

#shape-selection {
  position: relative;
  font-size: 22px;
}

#shape-selection-eraser {
  position: absolute;
  left: 50%;
  top: 50%;

  font-size: 14px;
}

:is(#man-shape-redact, #man-text-select-redact).toggled {
  background-color: var(--toggled-btn-bg-color);
  color: var(--toggled-btn-color);
  outline:var(--toggled-hover-btn-outline) !important;
}

#pageRedactColor {
  flex: 1;
  padding: 1px;
}

#pageRedactColor:is(:hover, :focus-within) {
  cursor: pointer;
}

.palette-color {
  border-bottom: 3px solid var(--palette-color);
}

.palette-color:is(:hover, :focus-within) {
  cursor: pointer;
  background-color: var(--button-hover-color);
}
