select#font-select,
select#font-select option {
  height: 60px;
  /* Adjust as needed */
  font-size: 30px;
  /* Adjust as needed */
}

.drawing-pad-container {
  text-align: center;
}

#drawing-pad-canvas {
  background: rgba(125, 125, 125, 0.2);
  width: 100%;
  height: 300px;
}

#box-drag-container {
  position: relative;
  margin: 20px 0;
}

.draggable-buttons-box {
  position: absolute;
  top: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  gap: 5px;
  z-index: 5;
}

.draggable-buttons-box>button {
  z-index: 4;
  background-color: rgba(13, 110, 253, 0.1);
}

.draggable-canvas {
  border: 2px solid #3498db;
  position: absolute;
  touch-action: none;
  user-select: none;
  top: 0px;
  left: 0;
  z-index: 100;
  cursor: grab;
  transition: transform 0.1s ease-out;
  background-color: rgba(52, 152, 219, 0.1);
  /* Light blue background */
}

.draggable-canvas:active {
  cursor: grabbing;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* Shadow on active drag */
}

.draggable-canvas:hover {
  border: 2px solid #2980b9;
  /* Darker border on hover */
  background-color: rgba(52, 152, 219, 0.2);
  /* Darken background on hover */
}
