<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}"
  xmlns:th="https://www.thymeleaf.org">

<head>
  <th:block th:insert="~{fragments/common :: head(title=#{merge.title}, header=#{merge.header})}"></th:block>
  <link rel="stylesheet" th:href="@{'/css/merge.css'}">
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
      <br><br>
      <th:block th:insert="~{fragments/multi-toolAdvert.html :: multi-toolAdvert}"></th:block>
      <div class="container" id="dropContainer">
        <div class="row justify-content-center">
          <div class="col-md-6 bg-card">
            <div class="tool-header">
              <span class="material-symbols-rounded tool-header-icon organize">add_to_photos</span>
              <span class="tool-header-text" th:text="#{merge.header}"></span>
            </div>
            <form th:action="@{'api/v1/general/merge-pdfs'}" method="post" enctype="multipart/form-data">
              <div class="mb-3">
                <label th:text="#{multiPdfDropPrompt}" for="fileInput-input"></label>
                <div
                  th:replace="~{fragments/common :: fileSelector(name='fileInput', multipleInputsForSingleRequest=true, accept='application/pdf')}">
                </div>
              </div>
              <div class="mb-3">
                <input type="checkbox" name="removeCertSign" id="removeCertSign">
                <label for="removeCertSign" th:text="#{merge.removeCertSign}">Remove digital signature in the merged
                  file?</label>
              </div>
              <div class="mb-3">
                <ul id="selectedFiles" class="list-group"></ul>
              </div>
              <div class="mb-3">
                <button type="button" id="sortByNameBtn" class="btn btn-info" th:text="#{merge.sortByName}"></button>
                <button type="button" id="sortByDateBtn" class="btn btn-info" th:text="#{merge.sortByDate}"></button>
                <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{merge.submit}"></button>
              </div>
              <div class="mb-3">
                <button type="button" id="resetFileInputBtn" class="btn btn-danger" th:text="#{reset}">Reset</button>
              </div>
            </form>
            <span id="pageTranslation" th:text="#{page}" style="display:none;"></span>
            <span id="pagesTranslation" th:text="#{pages}" style="display:none;"></span>

            <script type="text/javascript">
              const pageTranslation = document.getElementById('pageTranslation').innerText; // Get translation for a single page
              const pagesTranslation = document.getElementById('pagesTranslation').innerText; // Get translation for multiple pages
            </script>
            <script type="module">
              import * as pdfjsLib from './pdfjs-legacy/pdf.mjs';
              pdfjsLib.GlobalWorkerOptions.workerSrc = './pdfjs-legacy/pdf.worker.mjs';
            </script>
            <script th:src="@{'/js/merge.js'}"></script>
          </div>
        </div>
      </div>
    </div>
    <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
  </div>
</body>

</html>