<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}"
  xmlns:th="https://www.thymeleaf.org">

<head>
  <th:block th:insert="~{fragments/common :: head(title=#{pageRemover.title}, header=#{pageRemover.header})}">
  </th:block>
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
      <br><br>
      <th:block th:insert="~{fragments/multi-toolAdvert.html :: multi-toolAdvert}"></th:block>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 bg-card">
            <div class="tool-header">
              <span class="material-symbols-rounded tool-header-icon organize">delete</span>
              <span class="tool-header-text" th:text="#{pageRemover.header}"></span>
            </div>

            <form th:action="@{'/api/v1/general/remove-pages'}" method="post" enctype="multipart/form-data">
              <div
                th:replace="~{fragments/common :: fileSelector(name='fileInput', multipleInputsForSingleRequest=false, accept='application/pdf')}">
              </div>
              <div class="mb-3">
                <label for="fileInput" th:text="#{pageRemover.pagesToDelete}"></label>
                <input type="text" class="form-control" id="fileInput" name="pageNumbers"
                  th:placeholder="#{pageRemover.placeholder}" required>
              </div>
              <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{pageRemover.submit}"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
  </div>
  <script>
    document.getElementById('fileInput').addEventListener('input', function () {
      this.value = this.value.replace(/\s+/g, '');;
    });
  </script>
</body>

</html>