<!DOCTYPE html>
<html th:lang="${#locale.toString()}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{adminUserSettings.title})}"></th:block>

<body>
    <th:block th:insert="~{fragments/common :: game}"></th:block>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">

                        <!-- User Settings Title -->
                        <h2 class="text-center" th:text="#{adminUserSettings.header}">Admin User Control Settings</h2>
                      

						
						
						<table class="table">
						    <thead>
						        <tr>
						            <th>Username</th>
						            <th>Roles</th>
						            <th>Actions</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr th:each="user : ${users}">
						            <td th:text="${user.username}"></td>
						            <td th:text="${user.getRolesAsString()}"></td>
						            <td>
						                <a th:href="@{'/admin/deleteUser/' + ${user.username}}" th:text="#{delete}">Delete</a>
						            </td>
						        </tr>
						    </tbody>
						</table>
						

						<h2>Add New User</h2>
					    <form action="/admin/saveUser" method="post">
					        <div class="form-group">
					            <label for="username" th:text="#{username}">Username</label>
					            <input type="text" class="form-control" name="username" required>
					        </div>
					        <div class="form-group">
					            <label for="password" th:text="#{password}">Password</label>
					            <input type="password" class="form-control" name="password" required>
					        </div>
					        <div class="form-group">
						        <label for="role">Role</label>
						        <select name="role" class="form-control" required>
						            <option value="ROLE_ADMIN"  th:text="#{adminUserSettings.admin}">Admin</option>
						            <option value="ROLE_USER" th:text="#{adminUserSettings.user}">User</option>
						            <option value="ROLE_LIMITED_API_USER" th:text="#{adminUserSettings.apiUser}">Limited API User</option>
						            <option value="ROLE_WEB_ONLY_USER" th:text="#{adminUserSettings.webOnlyUser}">Web Only User</option>
						        </select>
						    </div>
					        
					        <!-- Add other fields as required -->
					        <button type="submit" class="btn btn-primary"  th:text="#{adminUserSettings.submit}">Save User</button>
					    </form>
                    </div>
                </div>
            </div>

        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>
</html>
