<!DOCTYPE html>
<html th:lang="${#locale.toString()}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{autoSplitPDF.title}, header=#{autoSplitPDF.header})}"></th:block>


<body>
    <th:block th:insert="~{fragments/common :: game}"></th:block>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 th:text="#{autoSplitPDF.header}"></h2>
                        <!-- Added a brief description -->
                        <p th:text="#{autoSplitPDF.description}"></p>
                        <ul>
                            <li th:text="#{autoSplitPDF.selectText.1}"></li>
                            <li th:text="#{autoSplitPDF.selectText.2}"></li>
                            <li th:text="#{autoSplitPDF.selectText.3}"></li>
                            <li th:text="#{autoSplitPDF.selectText.4}"></li>
                        </ul>
                        <form method="post" enctype="multipart/form-data" th:action="@{api/v1/misc/auto-split-pdf}">
                            <p th:text="#{autoSplitPDF.formPrompt}"></p>
                            <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false, accept='application/pdf')}"></div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="duplexMode" id="duplexMode"> 
                                <label class="ms-3" for="duplexMode" th:text=#{autoSplitPDF.duplexMode}></label>
                            </div>
                            <p><a th:href="@{files/Auto Splitter Divider (minimal).pdf}" download th:text="#{autoSplitPDF.dividerDownload1}"></a></p>
                            <p><a th:href="@{files/Auto Splitter Divider (with instructions).pdf}" download th:text="#{autoSplitPDF.dividerDownload2}"></a></p>
                            <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{autoSplitPDF.submit}"></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>
</html>