<!DOCTYPE html>
<html th:lang="${#locale.language}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="~{fragments/common :: head(title=#{compress.title})}"></th:block>


<body>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 th:text="#{compress.header}"></h2>
                        <form action="#" th:action="@{/compress-pdf}" method="post" enctype="multipart/form-data">
					        <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false)}"></div>
					        <div>
					            <label for="optimizeLevel" th:text="#{compress.selectText.1}"></label>
					            <select name="optimizeLevel" id="optimizeLevel">
					                <option value="0"  th:text="#{compress.selectText.2}"></option>
					                <option value="1" selected  th:text="#{compress.selectText.3}"></option>
					                <option value="2"  th:text="#{compress.selectText.4}"></option>
					                <option value="3" th:text="#{compress.selectText.5}"></option>
					            </select>
					        </div>
					        <div>
					            <input type="checkbox" name="fastWebView" id="fastWebView">
					            <label for="fastWebView"  th:text="#{compress.selectText.6}"></label>
					        </div>
					        <div>
					            <input type="checkbox" name="jbig2Lossy" id="jbig2Lossy">
					            <label for="jbig2Lossy" th:text="#{compress.selectText.7}"></label>
					        </div>
					        <button type="submit" th:text="#{compress.submit}"></button>
					    </form>
             			<p class="mt-3" th:text="#{compress.credit}"></p>

                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>

</html>