<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:insert="~{common :: head}"></th:block>
<title>S-PDF Add-Image</title>
</head>

<body>
	<div th:insert="~{navbar.html :: navbar}"></div>
	<br>
	<br>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2>Compress PDF</h2>


				
				<form action="#" th:action="@{/compress-pdf}" th:object="${rotateForm}"
					method="post" enctype="multipart/form-data">
					<p>Warning: This process can take up to a minute depending on file-size</p>
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="fileInput"
							name="fileInput" required> <label
							class="custom-file-label" for="fileInput">Choose PDF</label>
					</div>
					<div class="form-group">
						<label for="imageCompressionLevel">Value between 1 and 100 (1 being most reduced)</label> <input type="number" class="form-control"
							id="imageCompressionLevel" name="imageCompressionLevel" step="1" value="1" min="1" max="100" required>
					</div>

					<button type="submit" class="btn btn-primary">Compress</button>
				</form>
				<th:block th:insert="~{common :: filelist}"></th:block>

			</div>
		</div>
	</div>
	<div th:insert="~{footer.html :: footer}"></div>
</body>

</html>