<!DOCTYPE html>
<html th:lang="${#locale.toString()}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{crop.title})}"></th:block>


<body>
  <div id="page-container">
    <div id="content-wrap">
      <div th:insert="~{fragments/navbar.html :: navbar}"></div>
      <br> <br>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h2 th:text="#{crop.header}"></h2>
             <form id="cropForm" action="/crop" method="post" enctype="multipart/form-data">
              <input id="fileInput" type="file" name="file" required>
              <input id="x" type="hidden" name="x">
              <input id="y" type="hidden" name="y">
              <input id="width" type="hidden" name="width">
              <input id="height" type="hidden" name="height">
              <button type="submit">Submit</button>
            </form>
            <canvas id="pdf-canvas"></canvas>
            <script>
            
            let canvas = document.getElementById('pdf-canvas');
            let context = canvas.getContext('2d');

            let cropForm = document.getElementById('cropForm');
            let fileInput = document.getElementById('fileInput');
            let xInput = document.getElementById('x');
            let yInput = document.getElementById('y');
            let widthInput = document.getElementById('width');
            let heightInput = document.getElementById('height');

            let pdfDoc = null;
            let currentPage = 1;
            let totalPages = 0;

            let startX = 0;
            let startY = 0;
            let rectWidth = 0;
            let rectHeight = 0;

            fileInput.addEventListener('change', function(e) {
              let file = e.target.files[0];
              if (file.type === 'application/pdf') {
                let reader = new FileReader();
                reader.onload = function(ev) {
                  let typedArray = new Uint8Array(reader.result);
                  pdfjsLib.getDocument(typedArray).promise.then(function(pdf) {
                    pdfDoc = pdf;
                    totalPages = pdf.numPages;
                    renderPage(currentPage);
                  });
                };
                reader.readAsArrayBuffer(file);
              }
            });

            canvas.addEventListener('mousedown', function(e) {
              startX = e.offsetX;
              startY = e.offsetY;
            });

            canvas.addEventListener('mouseup', function(e) {
            	  rectWidth = e.offsetX - startX;
            	  rectHeight = e.offsetY - startY;

            	  // Flip the y-coordinate
            	  let flippedY = canvas.height - e.offsetY;

            	  xInput.value = startX;
            	  yInput.value = flippedY;
            	  widthInput.value = rectWidth;
            	  heightInput.value = rectHeight;

            	  context.strokeStyle = 'red';
            	  context.strokeRect(startX, startY, rectWidth, rectHeight);
            	});


            function renderPage(pageNumber) {
              pdfDoc.getPage(pageNumber).then(function(page) {
                let viewport = page.getViewport({ scale: 1.0 });
                canvas.width = viewport.width;
                canvas.height = viewport.height;
                let renderContext = { canvasContext: context, viewport: viewport };
                page.render(renderContext);
              });
            }

            
            
            </script>
            
          </div>
        </div>
      </div>
    </div>
    <div th:insert="~{fragments/footer.html :: footer}"></div>
  </div>
</body>
</html>