<!DOCTYPE html>
<html th:lang="${#locale.toString()}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{merge.title})}"></th:block>


<body>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container" id="dropContainer">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 th:text="#{merge.header}"></h2>
                        <form action="merge-pdfs" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label th:text="#{multiPdfDropPrompt}"></label>
                                <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=true, accept='application/pdf')}"></div>

                            </div>
                            <div class="mb-3">
                                <ul id="selectedFiles" class="list-group"></ul>
                            </div>
                            <div class="mb-3 text-center">
                            	<button type="button" id="sortByNameBtn" class="btn btn-info" th:text="#{merge.sortByName}"></button>
    							<button type="button" id="sortByDateBtn" class="btn btn-info" th:text="#{merge.sortByDate}"></button>
                                <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{merge.submit}"></button>
                            </div>
                        </form>
                        <link rel="stylesheet" href="css/merge.css">
                        <script src="js/merge.js"></script>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>
</html>