<!DOCTYPE html>
<html th:lang="${#locale.language}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="~{fragments/common :: head(title=#{ocr.title})}"></th:block>


<body>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 th:text="#{ocr.header}"></h2>

						 <form action="#" th:action="@{/ocr-pdf}" method="post" enctype="multipart/form-data" class="mb-3">
				            <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false)}"></div>
				            <div class="form-group">
							    <label for="languages" class="form-label" th:text="#{ocr.selectText.1}"></label>
							    <div id="languages">
							        <div th:each="language: ${languages}">
							            <input type="checkbox" class="form-check-input" th:name="languages" th:value="${language}" th:id="${'language-' + language}" />
							            <label class="form-check-label" th:for="${'language-' + language}" th:text="${language}"></label>
							        </div>
							    </div>
							</div>
						<!--  	<div class="form-group">
						        <input type="checkbox" class="form-check-input" name="sidecar" id="sidecar" />
						        <label class="form-check-label" for="sidecar" th:text="#{ocr.selectText.2}"></label>
						    </div> -->
				            <button type="submit" class="btn btn-primary" th:text="#{ocr.submit}"></button>
				        </form>
				        <p th:text="#{ocr.credit}"></p>
				        <p th:text="#{ocr.help}"></p>
				        <a href="https://github.com/Frooodle/Stirling-PDF/blob/main/HowToUseOCR.md">https://github.com/Frooodle/Stirling-PDF/blob/main/HowToUseOCR.md</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>

</html>