<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="~{fragments/common :: head(title=#{rotate.title})}"></th:block>


<body>	<div id="page-container">
		<div id="content-wrap">
	<div th:insert="~{fragments/navbar.html :: navbar}"></div>
	<br>
	<br>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2 th:text="#{rotate.header}"></h2>



				<form action="#" th:action="@{rotate-pdf}" th:object="${rotateForm}"
					method="post" enctype="multipart/form-data">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="fileInput"
							name="fileInput" required> <label
							class="custom-file-label" for="fileInput" th:text="#{pdfPrompt}"></label>
					</div>

					<label for="angle" th:text="#{rotate.selectAngle}"></label> <select id="angle" class="form-control" name="angle">
						<option value="90">90</option>
						<option value="180">180</option>
						<option value="270">270</option>
						<option value="-90">-90</option>
						<option value="-180">-180</option>
						<option value="-270">-270</option>
					</select> <br>
					<button type="submit" class="btn btn-primary" th:text="#{rotate.submit}"></button>
				</form>
				<th:block th:insert="~{fragments/common :: filelist}"></th:block>

			</div>
		</div>
	</div>
	</div>
		<div th:insert="~{fragments/footer.html :: footer}"></div>
	</div>
</body>

</html>