<!DOCTYPE html>
<html th:lang="${#locale.toString()}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{split-by-size-or-count.title})}"></th:block>


<body>
    <th:block th:insert="~{fragments/common :: game}"></th:block>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 th:text="#{split-by-size-or-count.header}"></h2>
						<form method="post" enctype="multipart/form-data" th:action="@{/api/v1/general/split-by-size-or-count}">
						    <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false, accept='application/pdf')}"></div>
						    
						    <label for="splitType" th:text="#{split-by-size-or-count.type.label}">Split Type</label>
						    <select id="splitType" name="splitType" class="form-control">
						        <option value="0" th:text="#{split-by-size-or-count.type.size}">Size</option>
						        <option value="1" th:text="#{split-by-size-or-count.type.pageCount}">Page Count</option>
						        <option value="2" th:text="#{split-by-size-or-count.type.docCount}">Document Count</option>
						    </select>
						    <br>
						
						    <label for="splitValue" th:text="#{split-by-size-or-count.value.label}">Split Value</label>
						    <input type="text" id="splitValue" name="splitValue" class="form-control" required th:placeholder="#{split-by-size-or-count.value.placeholder}">
						    <br>
						
						    <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{split-by-size-or-count.submit}">Submit</button>
						</form>

                    </div>
                </div>
            </div>

        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>
</html>
