<!DOCTYPE html>
<html th:lang="${#locale.language}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{split.title})}"></th:block>


<body>

    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>
            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h1 th:text="#{split.header}"></h1>
                        <p th:text="#{split.desc.1}"></p>
                        <p th:text="#{split.desc.2}"></p>
                        <p th:text="#{split.desc.3}"></p>
                        <p th:text="#{split.desc.4}"></p>
                        <p th:text="#{split.desc.5}"></p>
                        <p th:text="#{split.desc.6}"></p>
                        <p th:text="#{split.desc.7}"></p>
                        <p th:text="#{split.desc.8}"></p>

                        <form th:action="@{split-pages}" method="post" enctype="multipart/form-data">
                            <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false)}"></div>

                            <div class="form-group">
                                <label for="pages" th:text="#{split.splitPages}"></label> 
                                <input type="text" class="form-control" id="pages" name="pages" placeholder="1,3,5-10" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary" th:text="#{split.submit}"></button>
                        </form>
                        <th:block th:insert="~{fragments/common :: filelist}"></th:block>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>
</html>