<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{common :: head}"></th:block>
<title>S-PDF Split PDFs</title>
</head>

<body>
	<div th:insert="~{navbar.html :: navbar}"></div>
	<br>
	<br>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1>Split PDF</h1>
				<p>The numbers you select are the page number you wish to do a
					split on</p>
				<p>As such selecting 1,3,7-8 would split a 10 page document into
					6 separate PDFS with:</p>
				<p>Document #1: Page 1</p>
				<p>Document #2: Page 2 and 3</p>
				<p>Document #3: Page 4, 5 and 6</p>
				<p>Document #4: Page 7</p>
				<p>Document #5: Page 8</p>
				<p>Document #6: Page 9 and 10</p>

				<form th:action="@{/split-pages}" method="post"
					enctype="multipart/form-data">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="fileInput"
							name="fileInput" required> <label
							class="custom-file-label" for="fileInput">Choose PDF</label>
					</div>

					<div class="form-group">
						<label for="pages">Enter pages to split on:</label> <input
							type="text" class="form-control" id="pages" name="pages"
							placeholder="1,3,5-10">
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				<th:block th:insert="~{common :: filelist}"></th:block>
			</div>
		</div>
	</div>
	<div th:insert="~{footer.html :: footer}"></div>
</body>
</html>