<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}"
  xmlns:th="https://www.thymeleaf.org">

<head>
  <th:block th:insert="~{fragments/common :: head(title=#{userSession.title}, header=#{userSession.header})}"></th:block>
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
      <br><br>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9 bg-card">
            <div class="tool-header">
              <span class="material-symbols-rounded tool-header-icon organize">key</span>
              <span class="tool-header-text" th:text="#{userSession.title}">User Session</span>
            </div>
            <div class="bg-card mt-3 mb-3">
              <span th:text="#{userSession.maxUserSession}">Max sessions reached for this user.</span>
              <table th:unless="${#lists.isEmpty(sessionList)}" class="table table-striped table-hover mb-0">
                <thead>
                  <tr>
                    <!-- <th scope="col" th:text="#{session.sessionId}">Session ID</th> -->
                    <th scope="col" th:text="#{userSession.lastRequest}">last Request</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="userSession : ${sessionList}">
                    <!-- <td th:text="${userSession.getSessionId}"></td> -->
                    <td th:text="${userSession.getLastRequest}"></td>
                    <td><a th:href="@{/userSession/invalidate/{id}(id=${userSession.getSessionId})}"
                        class="btn btn-sm btn-danger">
                        <span class="material-symbols-rounded">logout</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
  </div>
</body>

</html>