:root {
    /* Colors */
    --md-sys-color-primary: rgb(0 96 170);
    --md-sys-color-surface-tint: rgb(0 96 170);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(80 163 255);
    --md-sys-color-on-primary-container: rgb(0 20 43);
    --md-sys-color-secondary: rgb(65 96 136);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(188 215 255);
    --md-sys-color-on-secondary-container: rgb(32 65 103);
    --md-sys-color-tertiary: rgb(88 90 138);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(151 153 205);
    --md-sys-color-on-tertiary-container: rgb(7 9 55);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(248 249 255);
    --md-sys-color-on-background: rgb(24 28 34);
    --md-sys-color-surface: rgb(237, 240, 245);
    --md-sys-color-on-surface: rgb(0, 1, 1);
    --md-sys-color-surface-variant: rgb(220 227 241);
    --md-sys-color-on-surface-variant: rgb(64 71 83);
    --md-sys-color-outline: rgb(112 119 132);
    --md-sys-color-outline-variant: rgb(192 199 213);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(45 49 55);
    --md-sys-color-inverse-on-surface: rgb(238 241 250);
    --md-sys-color-inverse-primary: rgb(162 201 255);
    --md-sys-color-primary-fixed: rgb(211 228 255);
    --md-sys-color-on-primary-fixed: rgb(0 28 56);
    --md-sys-color-primary-fixed-dim: rgb(162 201 255);
    --md-sys-color-on-primary-fixed-variant: rgb(0 72 130);
    --md-sys-color-secondary-fixed: rgb(211 228 255);
    --md-sys-color-on-secondary-fixed: rgb(0 28 56);
    --md-sys-color-secondary-fixed-dim: rgb(169 201 246);
    --md-sys-color-on-secondary-fixed-variant: rgb(40 72 111);
    --md-sys-color-tertiary-fixed: rgb(225 224 255);
    --md-sys-color-on-tertiary-fixed: rgb(20 22 66);
    --md-sys-color-tertiary-fixed-dim: rgb(193 194 248);
    --md-sys-color-on-tertiary-fixed-variant: rgb(64 67 112);
    --md-sys-color-surface-dim: rgb(215 218 227);
    --md-sys-color-surface-bright: rgb(248 249 255);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(241 243 253);
    --md-sys-color-surface-container: rgb(235 238 247);
    --md-sys-color-surface-container-high: rgb(229 232 241);
    --md-sys-color-surface-container-highest: rgb(223 226 235);
    /* Tools Color */
    --md-nav-section-color-opacity: 1;
    --md-nav-on-section-color-opacity: 1;
    --md-nav-section-color-sign: rgba(25, 101, 212, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-sign: rgba(255, 251, 254, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-organize: rgba(120, 130, 255, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-organize: rgba(255, 251, 254, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-convert: rgba(25, 177, 212, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-convert: rgba(255, 251, 254, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-convertto: rgba(104, 220, 149, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-convertto: rgba(255, 251, 254, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-security: rgba(255, 120, 146, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-security: rgba(255, 251, 254, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-other: rgba(72, 189, 84, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-other: rgba(255, 251, 254, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-advance: rgba(245, 84, 84, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-advance: rgba(255, 251, 254, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-image: rgba(212, 172, 25, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-image: rgba(255, 251, 254, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-word: rgba(61, 153, 245, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-word: rgba(255, 251, 254, var(--md-nav-on-section-color-opacity));
    --md-nav-section-color-ppt: rgba(255, 128, 0, var(--md-nav-section-color-opacity));
    --md-nav-on-section-color-ppt: rgba(255, 251, 254, var(--md-nav-on-section-color-opacity));
    --md-nav-color-on-seperator: rgb(174, 178, 179);
    --md-nav-background: rgb(248 249 255);
    --favourite-add: #25ab6c;
    --favourite-remove: rgb(222, 94, 137);
}
