<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}" xmlns:th="https://www.thymeleaf.org">
  <head>
  <th:block th:insert="~{fragments/common :: head(title=#{auto-rename.title}, header=#{auto-rename.header})}"></th:block>
  </head>

  <body>
    <th:block th:insert="~{fragments/common :: game}"></th:block>
    <div id="page-container">
      <div id="content-wrap">
        <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
        <br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 bg-card">
              <div class="tool-header">
                <span class="material-symbols-rounded tool-header-icon advance">text_fields_alt</span>
                <span class="tool-header-text" th:text="#{auto-rename.header}"></span>
              </div>
              <form method="post" enctype="multipart/form-data" th:action="@{'/api/v1/misc/auto-rename'}">
                <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false, accept='application/pdf')}"></div>
                <br>
                <div class="form-group">
                  <label for="keyword">Keyword:</label>
                  <input type="text" class="form-control" id="keyword" name="keyword" placeholder="e.g., Company, Name, Invoice" required>
                </div>
                <br>
                <div class="form-group">
                  <label for="useAfter">Text to use:</label>
                  <select class="form-control" id="useAfter" name="useAfter">
                    <option value="false">Entire line containing keyword</option>
                    <option value="true">Text after keyword</option>
                  </select>
                </div>
                <br>

                <div class="form-group">
                  <label for="linesToCheck">Number of Lines to Check:</label>
                  <input type="number" class="form-control" id="linesToCheck" name="linesToCheck" value="10" min="1">
                </div>
                <br>

                <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{auto-rename.submit}"></button>
              </form>

            </div>
          </div>
        </div>
      </div>
      <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
  </body>
</html>