<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}" xmlns:th="http://www.thymeleaf.org">
  <head>
  <th:block th:insert="~{fragments/common :: head(title=#{flatten.title}, header=#{flatten.header})}"></th:block>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
        <br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <h2 th:text="#{flatten.header}"></h2>
              <form method="post" enctype="multipart/form-data" th:action="@{api/v1/misc/flatten}">
                <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false, accept='application/pdf')}"></div>
				<div class="mb-3-inline form-check">
                  <input type="checkbox" class="form-check-input" id="flattenOnlyForms" name="flattenOnlyForms">
                  <label class="ms-3" for="flattenOnlyForms" th:text="#{flatten.flattenOnlyForms}" ></label>
                </div>	
                <br>
                <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{flatten.submit}"></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
  </body>
</html>