<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}" xmlns:th="https://www.thymeleaf.org">
  <head>
  <th:block th:insert="~{fragments/common :: head(title=#{PagingSealRequest.title}, header=#{PagingSealRequest.header})}"></th:block>
    <style>
      .a4container {
        position: relative;
        width: 50%;
        aspect-ratio: 0.707/1;
        border: 1px solid #ddd;
        box-sizing: border-box;
        background-color: white;
      }
    </style>
  </head>

  <body>
    <th:block th:insert="~{fragments/common :: game}"></th:block>
    <div id="page-container">
      <div id="content-wrap">
        <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
        <br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 bg-card">
              <div class="tool-header">
                <span class="material-symbols-rounded tool-header-icon security">approval</span>
                <span class="tool-header-text" th:text="#{PagingSealRequest.header}"></span>
              </div>
              <form method="post" enctype="multipart/form-data" th:action="@{'/api/v1/misc/paging-seal'}">
                <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false, accept='application/pdf')}"></div>
                <br>

                <div id="sealImageGroup" class="mb-3"  >
                  <label for="sealImage" class="form-label" th:text="#{PagingSealRequest.sealImage}">Seal Image</label>
                  <input type="file" class="form-control" id="sealImage" name="sealImage" accept="image/*" >
                </div>

                <div class="mb-3">
                  <label for="sealSize" class="form-label" th:text="#{PagingSealRequest.sealSize}">Seal Size</label>
                  <input type="number" min="0"  step="1" class="form-control" id="sealSize" name="sealSize" value="150">
                </div>

                <div class="mb-3">
                  <label for="sealOpacity" class="form-label" th:text="#{PagingSealRequest.sealOpacity}">Seal Opacity</label>
                  <input type="number" step="0.1" max="1" min="0.1" class="form-control" id="sealOpacity" name="sealOpacity" value="0.5">
                </div>

                <div class="mb-3">
                  <label for="drawY" class="form-label" th:text="#{PagingSealRequest.drawY}">Draw Y</label>
                  <input type="number" min="0"  step="1"  class="form-control" id="drawY" name="drawY" value="300">
                </div>

                <div class="mb-3">
                  <label for="firstPageSealRate" class="form-label" th:text="#{PagingSealRequest.firstPageSealRate}">First Seal Rate</label>
                  <input type="number" step="0.1" max="1" min="0" class="form-control" id="firstPageSealRate" name="firstPageSealRate" value="0">
                </div>

                <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{PagingSealRequest.submit}"></button>
              </form>
            </div>
          </div>
        </div>
        <script>
        let cells = document.querySelectorAll('.pageNumber');
        let inputField = document.getElementById('numberInput');

        cells.forEach(cell => {
          cell.addEventListener('click', function(e) {
            cells.forEach(cell => {
              cell.classList.remove('selectedPosition'); // Remove selected class from all cells
              cell.classList.remove('selectedHovered'); // Also remove selectedHovered class
            });
            let selectedLocation = e.target.id;
            inputField.value = selectedLocation;
            e.target.classList.add('selectedPosition'); // Add selected class to clicked cell
            e.target.classList.add('selectedHovered'); // Add selectedHovered class
          });

          cell.addEventListener('mouseenter', function(e) {
            if(e.target.classList.contains('selectedPosition')) {
              e.target.classList.add('selectedHovered');
            }
          });

          cell.addEventListener('mouseleave', function(e) {
            if(e.target.classList.contains('selectedPosition')) {
              e.target.classList.remove('selectedHovered');
            }
          });
        });

        </script>
      </div>
      <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
  </body>
</html>