
div[lang-direction=ltr] * {
    direction: ltr;
}
div[lang-direction=rtl] * {
    direction: rtl;
    text-align: right;
}
.ignore-rtl {
    direction: ltr !important;
    text-align: left !important;
}

.flex-fill-remaining-space {
    flex-grow: 10000000;
}