<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}" xmlns:th="https://www.thymeleaf.org">
  <head>
  <th:block th:insert="~{fragments/common :: head(title=#{permissions.title}, header=#{permissions.header})}"></th:block>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
        <br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 bg-card">
              <div class="tool-header">
                <span class="material-symbols-rounded tool-header-icon security">encrypted</span>
                <span class="tool-header-text" th:text="#{permissions.header}"></span>
              </div>
              <p th:text="#{permissions.warning}"></p>
              <form th:action="@{'api/v1/security/add-password'}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label th:text="#{permissions.selectText.1}"></label>
                  <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multipleInputsForSingleRequest=false, accept='application/pdf')}"></div>
                </div>
                <div class="mb-3">
                  <label class="mb-2" th:text="#{permissions.selectText.2}"></label>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="preventAssembly" name="preventAssembly">
                    <label for="preventAssembly" th:text="#{permissions.selectText.3}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="preventExtractContent" name="preventExtractContent">
                    <label for="preventExtractContent" th:text="#{permissions.selectText.4}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="preventExtractForAccessibility" name="preventExtractForAccessibility">
                    <label for="preventExtractForAccessibility" th:text="#{permissions.selectText.5}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="preventFillInForm" name="preventFillInForm">
                    <label for="preventFillInForm" th:text="#{permissions.selectText.6}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="preventModify" name="preventModify">
                    <label for="preventModify" th:text="#{permissions.selectText.7}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="preventModifyAnnotations" name="preventModifyAnnotations">
                    <label for="preventModifyAnnotations" th:text="#{permissions.selectText.8}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="preventPrinting" name="preventPrinting">
                    <label for="preventPrinting" th:text="#{permissions.selectText.9}"></label>
                  </div>
                  <div class="form-check ms-3">
                    <input type="checkbox" id="preventPrintingFaithful" name="preventPrintingFaithful">
                    <label for="preventPrintingFaithful" th:text="#{permissions.selectText.10}"></label>
                  </div>
                </div>
                <br>
                <div class="mb-3 text-left">
                  <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{permissions.submit}"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
  </body>
</html>