<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{fragments/common :: head}"></th:block>
<title>S-PDF ConvertToPDF</title>
</head>

<body>
	<div th:insert="~{fragments/navbar.html :: navbar}"></div>
	<br>
	<br>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2>Image to PDF</h2>

				<form method="post" enctype="multipart/form-data"
					th:action="@{img-to-pdf}">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="fileInput"
							name="fileInput" required> <label
							class="custom-file-label" for="fileInput">Choose Image</label>
					</div>
					<br>
					<br>
					<button type="submit" class="btn btn-primary">Convert</button>

				</form>
				<th:block th:insert="~{fragments/common :: filelist}"></th:block>
			</div>
		</div>
	</div>

	<div th:insert="~{fragments/footer.html :: footer}"></div>
</body>
</html>