<!DOCTYPE html>
<html th:lang="${#locale.toString()}" th:lang-direction="#{language.direction}" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/common :: head(title=#{pdfToImage.title})}"></th:block>


<body>
    <th:block th:insert="~{fragments/common :: game}"></th:block>
    <div id="page-container">
        <div id="content-wrap">
            <div th:insert="~{fragments/navbar.html :: navbar}"></div>

            <br> <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h2 th:text="#{pdfToImage.header}"></h2>
                        <p th:text="#{processTimeWarning}"></p>
                        <form method="post" enctype="multipart/form-data" th:action="@{pdf-to-img}">
                            <div th:replace="~{fragments/common :: fileSelector(name='fileInput', multiple=false, accept='application/pdf')}"></div>
                            <div class="form-group">
                                <label th:text="#{pdfToImage.selectText}"></label> 
                                <select class="form-control" name="imageFormat">
                                    <option value="png">PNG</option>
                                    <option value="jpg">JPG</option>
                                    <option value="gif">GIF</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label th:text="#{pdfToImage.singleOrMultiple}"></label> 
                                <select class="form-control" name="singleOrMultiple">
                                    <option value="single" th:text="#{pdfToImage.single}"></option>
                                    <option value="multiple" th:text="#{pdfToImage.multi}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label th:text="#{pdfToImage.colorType}"></label> 
                                <select class="form-control" name="colorType">
                                    <option value="color" th:text="#{pdfToImage.color}"></option>
                                    <option value="greyscale" th:text="#{pdfToImage.grey}"></option>
                                    <option value="blackwhite" th:text="#{pdfToImage.blackwhite}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dpi">DPI:</label> 
                                <input type="number" name="dpi" class="form-control" id="dpi" min="1" max="100" step="1" value="30" required>
                            </div>
                            <button type="submit" id="submitBtn" class="btn btn-primary" th:text="#{pdfToImage.submit}"></button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
        <div th:insert="~{fragments/footer.html :: footer}"></div>
    </div>
</body>
</html>