global
    log stdout format raw local0 info
    maxconn 4000

defaults
    mode http
    log global
    option httplog
    timeout connect 5s
    timeout client 1830s
    timeout server 1830s
    timeout queue 300s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 5s
    hold other 5s
    hold refused 5s
    hold nx 5s
    hold timeout 5s

frontend uno_in
    bind *:2003
    default_backend uno_pool

frontend uno_stats
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /
    stats refresh 5s

backend uno_pool
    balance leastconn
    server-template uno 20 unoserver:2003 check resolvers docker init-addr none maxconn 1
