<!DOCTYPE html>
<html th:lang="${#locale.language}"
  th:dir="#{language.direction}"
  th:data-language="${#locale.toString()}"
  xmlns:th="https://www.thymeleaf.org">

  <head>
    <th:block th:insert="~{fragments/common :: head(title=#{legal.privacy}, header=#{legal.privacy})}"></th:block>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
        <br><br>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 bg-card">
              <div class="tool-header">
                <span class="material-symbols-rounded tool-header-icon">privacy_tip</span>
                <span class="tool-header-text"
                  th:text="#{legal.privacy}">Privacy Policy</span>
              </div>

              <!-- start Note: sample page -->
              <section id="note-sample-page">
                <div class="alert alert-warning"
                  role="alert">
                  <strong>Note:</strong> This is a <em>sample page</em>; all information is placeholder content for
                  demonstration purposes only.
                  <br>
                  <br>
                  <li>Enable <code>customHTMLFiles</code> in the configuration to use custom HTML files, which can be found <a
                      href="https://docs.stirlingpdf.com/Advanced%20Configuration/UI%20Customisation#custom-files"
                      target="_blank">here</a>.</li>
                  <li>Create a file named <code>privacyPolicy.html</code> in the folder <code>customFiles/templates</code>.
                  </li>
                  <li>Copy the content of this file from <a
                      href="https://raw.githubusercontent.com/Stirling-Tools/Stirling-PDF/refs/heads/main/app/core/src/main/resources/templates/privacyPolicy.html"
                      target="_blank">privacyPolicy.html</a> into the newly created file.</li>
                  <li>Customize the layout and design of the page.</li>
                </div>
              </section>
              <!-- end Note: sample page -->

              <section>
                <h2>Privacy Policy</h2>
                <p>This Privacy Policy explains how we handle your data. No personal information is stored beyond the scope of
                  providing our services.</p>
              </section>
            </div>
          </div>
        </div>
      </div>
      <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
  </body>

</html>