name: Close stale issues

on:
  schedule:
    - cron: "30 0 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  stale:
    if: ${{ vars.CI_PROFILE != 'lite' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: 30 days stale issues
        uses: actions/stale@5f858e3efba33a5ca4407a664cc011ad407f2008 # v10.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-stale: 30
          days-before-close: 7
          stale-issue-message: >
            This issue has been automatically marked as stale because it has had no recent activity.
            It will be closed if no further activity occurs. Thank you for your contributions.
          close-issue-message: >
            This issue has been automatically closed because it has had no recent activity after being marked as stale.
            Please reopen if you need further assistance.
          stale-issue-label: "Stale"
          remove-stale-when-updated: true
          only-issue-labels: "more-info-needed"
          days-before-pr-stale: -1 # Prevents PRs from being marked as stale
          days-before-pr-close: -1 # Prevents PRs from being closed
          start-date: "2024-07-06T00:00:00Z" # ISO 8601 Format
