name: Docker Compose Tests

on:
  pull_request:
    paths:
      - "src/**"
      - "**.gradle"
      - "!src/main/java/resources/messages*"
      - "exampleYmlFiles/**"
      - "Dockerfile"
      - "Dockerfile**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "adopt"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Docker Compose
        run: |
          sudo curl -SL "https://github.com/docker/compose/releases/download/v2.26.1/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          # sudo chmod +x /usr/local/bin/docker-compose

      - name: Run Docker Compose Tests
        run: |
          chmod +x ./test.sh
          ./test.sh
